/*! #button
=========================================== */

/*
#overview
ボタン

ボタン類
*/

%cmn_btn_reset {
	box-sizing: border-box;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	line-height: 1.3;
	@media screen and ($mediaQuery01) {&{}}
}

/* ------------------------------ */

/*#styleguide

text

text


```
```
*/
