|<!DOCTYPE html>
|<html lang="ja">
head
	meta(charset='utf-8')
	title 
	meta(name="viewport" content="width=device-width,user-scalable=no")
	meta(name="description", content="")
	meta(name="keywords", content="")
	link(rel='stylesheet', href='css/reset.css')
	link(rel='stylesheet', href='css/common.css')
	link(rel='stylesheet', href='css/unique.css')
	<!--[if lt IE 9]>
	script(src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.js')
	<![endif]-->
	<!--[if lte IE 9]>
	script.
		jQuery(function($) {$("*").removeClass (function (index, css) {
			return (css.match (/c3_\S+/g) || []).join(' ');
		});});
	<![endif]-->
|<body>
.l_loader
|<div class="l_wrapper">
header#header.cf(role="banner", itemscope, itemtype="http://schema.org/WPHeader"): .wrap
	h1.l_name H1テキスト
	nav.l_nav.is_close.js_navi(role="navigation", itemscope, itemtype="http://www.schema.org/SiteNavigationElement")
		table: tbody: tr
			td.l_list-item.l_list-item01(itemprop="name"): a(href="#table", itemprop="URL")
// /header#header
|<div class="l_contents"><div id="main"><main  role="main">