extends _template
block vars
block outerMain
block content
	.wrap
		canvas#js_canvas01.canvas01(width='450', height='350')
	.wrap
		canvas#js_canvas02.canvas02(width='450', height='350')
	.wrap
		canvas#js_canvas03.canvas03(width='450', height='350')
	.wrap
		canvas#js_canvas04.canvas04(width='450', height='350')
