extends _template
block vars
block outerMain
block content
	.wrap: canvas#js_canvas01(width='450', height='350')
	.wrap: canvas#js_canvas02(width='450', height='350')
	.wrap: canvas#js_canvas03(width='450', height='350')
	.wrap: canvas#js_canvas04(width='450', height='350')
	.wrap: canvas#js_canvas05(width='450', height='350')
	.wrap: canvas#js_canvas06(width='450', height='350')
	.wrap: canvas#js_canvas07(width='450', height='350')
