extends _template
block vars
block outerMain
block content
	.wrapper
		- var i =   1
		- var max = 8	// 最大数

		while i < max+1
			- var id = i < 10? 'js_canvas0'+i : 'js_canvas'+i
			.wrap: .js_in: canvas(id=id, width='450', height='350')
			- i++
